:root {
  --first-color: gainsboro;
  --second-color: #f5f5f5;
  --third-color: gray;
  --fourth-color: white;
  --fifth-color: #ddd;
  --sixth-color: steelblue;
  --seventh-color: #e3eafd;
  --eight-color: dodgerblue;
  --ninth-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--first-color);
}

.container {
  width: 50%;
  padding: 2em;
  border-radius: 10px;
  background-color: var(--second-color);
}

p {
  margin-top: 1em;
}

.pagination {
  margin-top: 1em;
}

.pagination a {
  color: var(--ninth-color);
  padding: 0.5em 1em;
  text-decoration: none;
  transition: background-color 0.3s;
}

.page {
  background-color: var(--fourth-color);
  border-radius: 8px;
  background-color: transparent;
  border: 0.5px solid var(--third-color);
}

.page:hover {
  background-color: var(--eight-color);
  color: var(--fourth-color);
}

.arrow {
  border-radius: 7px;
  background-color: transparent;
  border: 0.5px solid var(--third-color);
}

.arrow:hover {
  background-color: var(--fifth-color);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  color: var(--sixth-color);
  border-bottom: none;
  margin-bottom: 1em;
}

td,
th {
  border: 1px solid var(--third-color);
  border: 0.5px solid transparent;
  text-align: left;
  padding: 0.5em;
}

tr:nth-child(even) {
  background-color: var(--seventh-color);
  color: var(--ninth-color);
}

.hidden {
  display: none;
}
